@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Science+Gothic:wght@100..900&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
Canvas{
  /* width: 100vw; */
  height: 100vh!important;
  /* position: fixed;
  top:0;
  z-index: 10000; */
  
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}
.bg-white{
  background: transparent!important;
}
.bg-gray-950{
  background: rgba(255,255,255,0.2)!important;
  backdrop-filter: blur(10px)!important;
  transition:0.3s ease!important;
}